@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ec2kff');
  src:  url('fonts/icomoon.eot?ec2kff#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ec2kff') format('truetype'),
    url('fonts/icomoon.woff?ec2kff') format('woff'),
    url('fonts/icomoon.svg?ec2kff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Shape:before {
  content: "\e900";
  color: #8c939c;
}
.icon-down-arrow:before {
  content: "\e901";
  color: #66676b;
}
.icon-notifications:before {
  content: "\e902";
  color: #66676b;
}
.icon-add:before {
  content: "\e903";
  color: #66676b;
}
.icon-puzzle:before {
  content: "\e904";
  color: #66676b;
}
.icon-group:before {
  content: "\e905";
  color: #66676b;
}
.icon-market:before {
  content: "\e906";
  color: #66676b;
}
.icon-tv:before {
  content: "\e907";
  color: #66676b;
}
.icon-home:before {
  content: "\e908";
  color: #66676b;
}
.icon-messaging:before {
  content: "\e909";
  color: #66676b;
}
.icon-search:before {
  content: "\e90a";
}
.icon-new-chat:before {
  content: "\e90b";
}
.icon-place:before {
  content: "\e90d";
  color: #66676b;
}
.icon-info:before {
  content: "\e90e";
}
.icon-emoji:before {
  content: "\e90f";
  color: #8c939c;
}
.icon-gif:before {
  content: "\e910";
  color: #8c939c;
}
.icon-sticker:before {
  content: "\e911";
}
.icon-create-tag:before {
  content: "\e912";
  color: #0572ef;
}
.icon-create-photo:before {
  content: "\e913";
  color: #67ba6c;
}
.icon-page:before {
  content: "\e914";
}
.icon-page-1 .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.icon-page-1 .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-likes-counter .path1:before {
  content: "\e917";
  color: rgb(0, 0, 0);
}
.icon-likes-counter .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-work:before {
  content: "\e919";
  color: #8c939c;
}
.icon-email:before {
  content: "\e91a";
  color: #8c939c;
}
.icon-send-message:before {
  content: "\e91b";
  color: #8c939c;
}
.icon-phone:before {
  content: "\e91c";
  color: #8c939c;
}
.icon-website:before {
  content: "\e91d";
  color: #8c939c;
}
.icon-followers:before {
  content: "\e91e";
  color: #8c939c;
}
.icon-like:before {
  content: "\e91f";
  color: #8c939c;
}
.icon-create-checkin:before {
  content: "\e920";
  color: #de3f4f;
}
