$facebook_blue:#0572EF;
$facebook_grey:#66676B;

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 61px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .left {
        display: flex;
        align-items: center;

        img {
            padding: 10px 8px 11px 14px;
        }

        .search-box {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            position: relative;

            input {
                width: 241px;
                height: 40px;
                background: #F1F2F5;
                border-radius: 100px;
                border: 0;
                outline: none;
                padding: 0 4px 0 36px;
                font-size: 15px;
            }

            svg {
                width: 16px;
                position: absolute;
                left: 12px;
            }
        }
    }

    .middle {
        display: flex;
        justify-content: space-around;

        a {
            position: relative;
            padding: 10px;
            transition: transform 0.3s;
            
            &:hover {
                transform: scale(1.1);
                transition: transform 0.1s;
            }

            &:active {
                transform: scale(0.8);
                transition: transform  0.3s;
            }
        }
        
        span {
            font-size: 22px;
        }


    }

    .right  {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 6px;
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 40px;
            width: 40px;
            background: #e5e6eb;
            border-radius: 50%;
            margin-right: 8px;

            &:hover { 
                -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.58); 
                box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.58);
            }

            &:active {
                box-shadow: none;
                transform: scale(0.9);
                transition: transform 0.2s;
            }
            
            

        }
    }

    #amount {
        position: absolute;
        top: -2px;
        left: 22px;
        font-size: 13px;
        color: #fff;
        background-color: #DE3F4F;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border: 0;
        border-radius: 50%;
    }
}

.top {
    width: auto;
    height: 552px;
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    
    .cover {
        width: 941px;
        height: 348px;
        margin: auto;
        background-color: rgb(83, 83, 83);
        border-radius: 0 0 8px 8px;
    }

    .container {
        width: 874px;
        height: 204px;
        margin: auto;
        display: grid;
        grid-template-rows: 142px 61px;

        .userinfo {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .username {
                display: grid;
                grid-template-columns: 132px 1fr;

                .userpic {
                    width: 132px;
                    height: 132px;
                    background-color: #303030;
                    border-radius: 100%;
                    position: relative;
                    bottom: 20.75px;
                    box-sizing: border-box
                    ;
                }

                .name {
                    line-height: 0.7;
                    margin: 25px 0px 20px 28.75px;
                    box-sizing: border-box;

                    h3 {
                        color: $facebook_grey;
                    }
                }
            }
            
            button {
                height: 40px;
                width: 312px;
                border-radius: 6px;
                border: none;
                background-color: $facebook_blue;
                align-self: initial;
                align-self: flex-end;
                justify-self: end;
                margin-bottom: 28px;

            }

        }

        .usermenu {
            border-top: 1px solid #CFD0D4;
        }
    }
}
