body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 61px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar .left {
  display: flex;
  align-items: center;
}
.navbar .left img {
  padding: 10px 8px 11px 14px;
}
.navbar .left .search-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
.navbar .left .search-box input {
  width: 241px;
  height: 40px;
  background: #F1F2F5;
  border-radius: 100px;
  border: 0;
  outline: none;
  padding: 0 4px 0 36px;
  font-size: 15px;
}
.navbar .left .search-box svg {
  width: 16px;
  position: absolute;
  left: 12px;
}
.navbar .middle {
  display: flex;
  justify-content: space-around;
}
.navbar .middle a {
  position: relative;
  padding: 10px;
  transition: transform 0.3s;
}
.navbar .middle a:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}
.navbar .middle a:active {
  transform: scale(0.8);
  transition: transform 0.3s;
}
.navbar .middle span {
  font-size: 22px;
}
.navbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6px;
}
.navbar .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  background: #e5e6eb;
  border-radius: 50%;
  margin-right: 8px;
}
.navbar .right a:hover {
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.58);
}
.navbar .right a:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.navbar #amount {
  position: absolute;
  top: -2px;
  left: 22px;
  font-size: 13px;
  color: #fff;
  background-color: #DE3F4F;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 0;
  border-radius: 50%;
}

.top {
  width: auto;
  height: 552px;
  background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.top .cover {
  width: 941px;
  height: 348px;
  margin: auto;
  background-color: #535353;
  border-radius: 0 0 8px 8px;
}
.top .container {
  width: 874px;
  height: 204px;
  margin: auto;
  display: grid;
  grid-template-rows: 142px 61px;
}
.top .container .userinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top .container .userinfo .username {
  display: grid;
  grid-template-columns: 132px 1fr;
}
.top .container .userinfo .username .userpic {
  width: 132px;
  height: 132px;
  background-color: #303030;
  border-radius: 100%;
  position: relative;
  bottom: 20.75px;
  box-sizing: border-box;
}
.top .container .userinfo .username .name {
  line-height: 0.7;
  margin: 25px 0px 20px 28.75px;
  box-sizing: border-box;
}
.top .container .userinfo .username .name h3 {
  color: #66676B;
}
.top .container .userinfo button {
  height: 40px;
  width: 312px;
  border-radius: 6px;
  border: none;
  background-color: #0572EF;
  align-self: initial;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 16px;
}
.top .container .userinfo button:hover {
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.58);
}
.top .container .userinfo button:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.top .container .usermenu {
  border-top: 1px solid #CFD0D4;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.top .container .usermenu__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top .container .usermenu__nav a {
  width: auto;
  margin-top: 3px;
  padding: 20px 17px;
  border-bottom: 3px solid transparent;
  color: #66676B;
}
.top .container .usermenu__nav a:hover {
  border-bottom: 3px solid #0572EF;
}
.top .container .usermenu__nav a i {
  margin-left: 8px;
  font-size: 12px;
}
.top .container .usermenu__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top .container .usermenu__menu_button__lg {
  background-color: #E5E6EB;
  border-radius: 6px;
  border: none;
  width: 110px;
  height: 36px;
  margin-left: 8px;
}
.top .container .usermenu__menu_button__lg:hover {
  background-color: #E9F3FE;
}
.top .container .usermenu__menu_button__lg:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.top .container .usermenu__menu_button__sm {
  width: 48px;
  height: 36px;
  background-color: #E5E6EB;
  border-radius: 6px;
  border: none;
  margin-left: 8px;
}
.top .container .usermenu__menu_button__sm:hover {
  background-color: #E9F3FE;
}
.top .container .usermenu__menu_button__sm:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}/*# sourceMappingURL=style.css.map */