body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F0F2F5;
}

a {
  text-decoration: none;
}

.profile_small {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #080808;
  margin: 12px 6px 12px 12px;
}

txt {
  position: absolute;
  top: -25px;
  width: 118px;
  font-size: 15px;
  color: #66676B;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 61px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.navbar .left {
  display: flex;
  align-items: center;
}
.navbar .left img {
  padding: 10px 8px 11px 14px;
}
.navbar .left .search-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
.navbar .left .search-box input {
  width: 241px;
  height: 40px;
  background: #F1F2F5;
  border-radius: 100px;
  border: 0;
  outline: none;
  padding: 0 4px 0 36px;
  font-size: 15px;
}
.navbar .left .search-box svg {
  width: 16px;
  position: absolute;
  left: 12px;
}
.navbar .middle {
  display: flex;
  justify-content: space-around;
}
.navbar .middle a {
  position: relative;
  padding: 10px;
  transition: transform 0.3s;
}
.navbar .middle a:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}
.navbar .middle a:active {
  transform: scale(0.8);
  transition: transform 0.3s;
}
.navbar .middle span {
  font-size: 22px;
}
.navbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6px;
}
.navbar .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  background: #e5e6eb;
  border-radius: 50%;
  margin-right: 8px;
  color: #66676B;
}
.navbar .right a:hover {
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.58);
}
.navbar .right a:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.navbar .right a #down-arrow {
  font-size: 11px;
  line-height: 14px;
  vertical-align: middle;
  position: absolute;
  bottom: 12px;
  left: 13px;
}
.navbar #amount {
  position: absolute;
  top: -2px;
  left: 22px;
  font-size: 13px;
  color: #fff;
  background-color: #DE3F4F;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 0;
  border-radius: 50%;
}

.top {
  width: auto;
  height: 552px;
  background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.top .cover {
  width: 941px;
  height: 348px;
  margin: auto;
  background-color: #535353;
  border-radius: 0 0 8px 8px;
}
.top .container {
  width: 874px;
  height: 204px;
  margin: auto;
  display: grid;
  grid-template-rows: 142px 61px;
}
.top .container .userinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top .container .userinfo .username {
  display: grid;
  grid-template-columns: 132px 1fr;
}
.top .container .userinfo .username .userpic {
  width: 132px;
  height: 132px;
  background-color: #303030;
  border-radius: 100%;
  position: relative;
  bottom: 20.75px;
  box-sizing: border-box;
}
.top .container .userinfo .username .name {
  line-height: 0.7;
  margin: 25px 0px 20px 28.75px;
  box-sizing: border-box;
}
.top .container .userinfo .username .name h3 {
  color: #66676B;
}
.top .container .userinfo button {
  height: 40px;
  width: 312px;
  border-radius: 6px;
  border: none;
  background-color: #0572EF;
  align-self: initial;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 16px;
}
.top .container .userinfo button:hover {
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.58);
}
.top .container .userinfo button:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.top .container .usermenu {
  border-top: 1px solid #CFD0D4;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.top .container .usermenu__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top .container .usermenu__nav a {
  width: auto;
  margin-top: 3px;
  padding: 20px 17px;
  border-bottom: 3px solid transparent;
  color: #66676B;
  position: relative;
}
.top .container .usermenu__nav a:hover {
  border-bottom: 3px solid #0572EF;
}
.top .container .usermenu__nav a i {
  margin-left: 8px;
  position: absolute;
  margin-bottom: 0px;
  font-size: 7px;
  line-height: 3;
}
.top .container .usermenu__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #080808;
  vertical-align: middle;
}
.top .container .usermenu__menu_button__lg {
  background-color: #E5E6EB;
  border-radius: 6px;
  border: none;
  width: 110px;
  height: 36px;
  margin-left: 8px;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top .container .usermenu__menu_button__lg:hover {
  background-color: #E9F3FE;
}
.top .container .usermenu__menu_button__lg:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.top .container .usermenu__menu_button__lg span {
  font-size: 17px;
  padding-left: 3px;
}
.top .container .usermenu__menu_button__lg #like {
  position: absolute;
  top: 8px;
  left: 15px;
}
.top .container .usermenu__menu_button__sm {
  width: 48px;
  height: 36px;
  background-color: #E5E6EB;
  border-radius: 6px;
  border: none;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .container .usermenu__menu_button__sm:hover {
  background-color: #E9F3FE;
}
.top .container .usermenu__menu_button__sm:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}

.content {
  display: grid;
  grid-template-columns: 361px 502px;
  justify-content: center;
  grid-gap: 15px;
  margin-top: 15px;
  height: auto;
}
.content__left__about {
  width: auto;
  height: 733px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__left__photos {
  margin-top: 15px;
  width: auto;
  height: 288px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__left__videos {
  margin-top: 15px;
  width: auto;
  height: 329px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__left__pagetransperacy {
  margin-top: 15px;
  margin-bottom: 16px;
  width: auto;
  height: 195px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__right {
  height: auto;
}
.content__right .wrapper-createpost {
  display: flex;
  justify-content: center;
  height: auto;
}
.content__right .content_header {
  display: flex;
  position: relative;
}
.content__right .content_header_top {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  position: relative;
  width: 411px;
  height: 33px;
}
.content__right .content_header_profilename {
  display: flex;
  width: 137px;
  height: 33px;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
}
.content__right .content_header #name {
  font-size: 18px;
  margin: -3px 0 3px 0;
  letter-spacing: -0.3px;
  text-decoration: none;
  color: #080808;
}
.content__right .content_header #tag {
  color: #66676B;
  font-size: 13px;
}
.content__right .content_header #tag i {
  top: 1px;
  right: 5px;
}
.content__right .content_text {
  width: auto;
  height: auto;
  margin: 0 16px 16px 16px;
  font-size: 16px;
}
.content__right .post_emoji {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  margin: 12px 0 9px 0;
}
.content__right .post_emoji .emoji {
  width: 126px;
}
.content__right .post_emoji .emoji a {
  margin-left: -6px;
}
.content__right .post_emoji a {
  color: #66676B;
}
.content__right .post_emoji a:hover {
  color: #080808;
}
.content__right .post__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 42px;
  border-top: 1px solid #CFD0D4;
  border-bottom: 1px solid #CFD0D4;
  margin: 0 14px 0 14px;
  position: relative;
}
.content__right .post__actions .comment {
  top: 0;
}
.content__right .post__actions a {
  color: #66676B;
  vertical-align: middle;
}
.content__right .post__actions a svg {
  line-height: 2px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.content__right .post__comment {
  position: relative;
  width: 502px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__right .post__comment .most-relevant {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 15px;
}
.content__right .post__comment .view-comment {
  position: absolute;
  bottom: -5px;
  left: 11px;
  font-size: 15px;
}
.content__right .post__comment .comment_row {
  width: 470px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-top: 13px;
}
.content__right .post__comment .comment_row #profile_xsmall {
  width: 33px;
  height: 33px;
  background-color: #080808;
  border-radius: 100%;
  display: block;
}
.content__right .post__comment .comment_row input {
  width: 426px;
  height: 36px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #F1F2F5;
}
.content__right .post__comment .comment_row span {
  position: absolute;
  right: 30px;
  top: 44px;
}
.content__right__new-post {
  width: auto;
  height: 113px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__right__new-post__createpost {
  width: 424px;
  height: 41px;
  border-radius: 6px;
  margin: 12px 12px 12px 6px;
  background-color: #E5E6EB;
  color: #080808;
  font-size: 17px;
  font-weight: bold;
  border: none;
  letter-spacing: -0.3px;
}
.content__right__new-post__createpost:hover {
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.58);
}
.content__right__new-post__createpost:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.content__right__new-post__links {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
.content__right__new-post__links span {
  margin-right: 9px;
}
.content__right__new-post__links a {
  text-decoration: none;
  color: #66676B;
}
.content__right__new-post__links a:hover {
  font-weight: bold;
}
.content__right__pinned-post {
  margin-top: 61px;
  width: auto;
  height: 635px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.content__right__other-posts {
  margin-top: 61px;
  width: auto;
  height: 720px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.content__right__other-posts__content {
  height: 375px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #66676B;
  border-radius: 8px;
  margin-left: 16px;
  display: flex;
  overflow-x: visible;
}
.content__right__other-posts__content img {
  width: 299px;
  height: 300px;
  margin: 0;
  margin-top: -1px;
}
.content__right__other-posts__content h5 {
  margin: 0;
  font-size: 15px;
  margin-left: 13px;
}
.content__right__other-posts__content p {
  margin: 5px;
  font-size: 13px;
  margin-left: 13px;
  margin-bottom: 10px;
}
.content__right__other-posts__content__box2 {
  border: 1px solid #66676B;
  border-radius: 8px;
  margin-left: 16px;
  overflow-x: visible;
}/*# sourceMappingURL=style.css.map */