$facebook_blue:#0572EF;
$facebook_grey:#66676B;
$facebook_black:#080808; 
$facebook_light-grey:#E5E6EB;
$content_shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F0F2F5;
}

a {
    text-decoration: none;
}

.profile_small {
    display: block;
    width:  41px;
    height: 41px;
    border-radius: 50%;
    background-color: $facebook_black;
    margin: 12px 6px 12px 12px ;
}

txt {
    position: absolute;
    top: -25px;
    width: 118px;
    font-size: 15px;
    color: $facebook_grey;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 61px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    .left {
        display: flex;
        align-items: center;

        img {
            padding: 10px 8px 11px 14px;
        }

        .search-box {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            position: relative;

            input {
                width: 241px;
                height: 40px;
                background: #F1F2F5;
                border-radius: 100px;
                border: 0;
                outline: none;
                padding: 0 4px 0 36px;
                font-size: 15px;
            }

            svg {
                width: 16px;
                position: absolute;
                left: 12px;
            }
        }
    }

    .middle {
        display: flex;
        justify-content: space-around;

        a {
            position: relative;
            padding: 10px;
            transition: transform 0.3s;
            
            &:hover {
                transform: scale(1.1);
                transition: transform 0.1s;
            }

            &:active {
                transform: scale(0.8);
                transition: transform  0.3s;
            }
        }
        
        span {
            font-size: 22px;
        }


    }

    .right  {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 6px;
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 40px;
            width: 40px;
            background: #e5e6eb;
            border-radius: 50%;
            margin-right: 8px;
            color: $facebook_grey;

            &:hover { 
                -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.58); 
                box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.58);
            }

            &:active {
                box-shadow: none;
                transform: scale(0.9);
                transition: transform 0.2s;
            }

           #down-arrow {
            font-size: 11px;
            line-height: 14px;
            vertical-align: middle;
            position: absolute;
            bottom: 12px;
            left: 13px;
           }
            
            

        }
    }

    #amount {
        position: absolute;
        top: -2px;
        left: 22px;
        font-size: 13px;
        color: #fff;
        background-color: #DE3F4F;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border: 0;
        border-radius: 50%;
    }
}

.top {
    width: auto;
    height: 552px;
    background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    
    .cover {
        width: 941px;
        height: 348px;
        margin: auto;
        background-color: rgb(83, 83, 83);
        border-radius: 0 0 8px 8px;
    }

    .container {
        width: 874px;
        height: 204px;
        margin: auto;
        display: grid;
        grid-template-rows: 142px 61px;

        .userinfo {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .username {
                display: grid;
                grid-template-columns: 132px 1fr;

                .userpic {
                    width: 132px;
                    height: 132px;
                    background-color: #303030;
                    border-radius: 100%;
                    position: relative;
                    bottom: 20.75px;
                    box-sizing: border-box
                    ;
                }

                .name {
                    line-height: 0.7;
                    margin: 25px 0px 20px 28.75px;
                    box-sizing: border-box;

                    h3 {
                        color: $facebook_grey;
                    }
                }
            }
            
            button {
                height: 40px;
                width: 312px;
                border-radius: 6px;
                border: none;
                background-color: $facebook_blue;
                align-self: initial;
                align-self: flex-end;
                justify-self: end;
                margin-bottom: 16px;

                &:hover { 
                    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.58); 
                    box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.58);
                }
    
                &:active {
                    box-shadow: none;
                    transform: scale(0.9);
                    transition: transform 0.2s;
                }
            }

        }

        .usermenu {
            border-top: 1px solid #CFD0D4;
            display: flex;
            align-content: center;
            justify-content: space-between;

            &__nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                a {
                    width: auto;
                    margin-top: 3px;
                    padding: 20px 17px;
                    border-bottom: 3px solid transparent;
                    color: $facebook_grey;
                    position: relative;

                    &:hover {
                        border-bottom: 3px solid $facebook_blue;
                    }

                    i {
                        margin-left: 8px;
                        position: absolute;
                        margin-bottom: 0px;
                        font-size: 7px;
                        line-height: 3;
                    }
                    
                }
            }
            &__menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $facebook_black;
                vertical-align: middle;
               
                &_button__lg {
                    background-color: #E5E6EB;
                    border-radius: 6px;
                    border: none;
                    width: 110px;
                    height: 36px;
                    margin-left: 8px;
                    align-content: center;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &:hover {
                        background-color: #E9F3FE;
                        
                    }
                    &:active {
                        box-shadow: none;
                        transform: scale(0.9);
                        transition: transform 0.2s;
                    }

                    span {
                        font-size: 17px;
                        padding-left: 3px;
                    }
                    #like {
                        position: absolute;
                        top: 8px;
                        left: 15px;
                    }
                }

                &_button__sm {
                        width: 48px;
                        height: 36px;
                        background-color: #E5E6EB;
                        border-radius: 6px;
                        border: none;
                        margin-left: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        &:hover {
                            background-color: #E9F3FE;
                            
                        }
                        &:active {
                            box-shadow: none;
                            transform: scale(0.9);
                            transition: transform 0.2s;
                        }
                    }

            }
                
            
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 361px 502px;
    justify-content: center;
    grid-gap: 15px;
    margin-top: 15px;
    height: auto;

    &__left {

        &__about {
            width: auto;
            height: 733px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;
        }

        &__photos {
            margin-top: 15px;
            width: auto;
            height: 288px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;
        }

        &__videos {
            margin-top: 15px;
            width: auto;
            height: 329px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;
        }

        &__pagetransperacy {
            margin-top: 15px;
            margin-bottom: 16px;
            width: auto;
            height: 195px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;
        }
    }

    &__right {

        height: auto;
        .wrapper-createpost {
            display: flex;
            justify-content: center;
            height: auto;
        }
        .content_header {
            display: flex;
            position: relative;

            &_top {
                display: flex;
                justify-content: space-between;
                margin-top: 17px;
                position: relative;
                width: 411px;
                height: 33px;
            }

            &_profilename {
                display: flex;
                width: 137px;
                height: 33px;
                flex-direction: column;
                padding: 0;
                justify-content: space-between;
            }

            #name {
                font-size: 18px;
                margin: -3px 0 3px 0;
                letter-spacing: -0.3px;
                text-decoration: none;
                color: $facebook_black;
            }

            #tag {
                color: $facebook_grey;
                font-size: 13px;
                i {
                    top: 1px;
                    right: 5px;
                }
            }
            
        } 
        
        .content_text {
            width: auto;
            height: auto;
            margin: 0 16px 16px 16px;
            font-size: 16px;
        }

        .post_emoji {
            display: flex;
            justify-content: space-evenly;
            font-size: 15px;
            margin: 12px 0 9px 0;
        
            .emoji {
                width: 126px;
                a {
                    margin-left: -6px;
                }
            }
            a {
                color: $facebook_grey;
                &:hover {
                    color: $facebook_black;
                }
            }
        }
        .post__actions {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 42px;
            border-top: 1px solid #CFD0D4;
            border-bottom: 1px solid #CFD0D4;
            margin: 0 14px 0 14px;
            position: relative;
            
            .comment {
                top: 0;;
            }
             a {
                color: $facebook_grey;
                vertical-align: middle;
                svg {
                    line-height: 2px;
                    vertical-align: middle;
                    position: relative;
                    top: -3px;

                    
                }
             }

        }
        .post__comment {
            position: relative; 
            width: 502px;
            height: 92px; 
            display: flex; 
            flex-direction: column;
            justify-content: center;

            .most-relevant {
                position: absolute;
                top: 10px;
                right: 14px;
                font-size: 15px;
            }

            .view-comment {
                position: absolute;
                bottom: -5px;
                left: 11px;
                font-size: 15px;
            }
            
            .comment_row {
                width: 470px;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 16px;
                margin-top: 13px;

                #profile_xsmall {
                    width: 33px;
                    height: 33px;
                    background-color: $facebook_black;
                    border-radius: 100%;
                    display: block;
                }

                input {
                    width: 426px;
                    height: 36px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    background-color: #F1F2F5;
                }
                span {
                    position: absolute;
                    right: 30px;
                    top: 44px;
                }
                 
            }
            
        }
        
        

        

        &__new-post {
            width: auto;
            height: 113px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;

            &__createpost {
                width:  424px;
                height: 41px;
                border-radius: 6px;
                margin: 12px 12px 12px 6px;
                background-color: $facebook_light-grey;
                color: $facebook_black;
                font-size: 17px;
                font-weight: bold;
                border: none;
                letter-spacing: -0.3px;

                &:hover { 
                    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.58); 
                    box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.58);
                }
    
                &:active {
                    box-shadow: none;
                    transform: scale(0.9);
                    transition: transform 0.2s;
                }
            }
            &__links {
                display: flex;
                justify-content: space-around;
                margin-top: 8px;

                span {
                    margin-right: 9px;
                }
                a {
                    text-decoration: none;
                    color: $facebook_grey;
                    &:hover {
                        font-weight: bold;
                }
                
                }
            }
        }

        &__pinned-post {
            margin-top: 61px;
            width: auto;
            height: 635px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;
            display: flex;
            flex-direction: column;

        }

        &__other-posts {
            margin-top: 61px;
            width: auto;
            height: 720px;
            background-color: #FFFFFF;
            box-shadow: $content_shadow;
            border-radius: 8px;

            &__content {
                height: 375px;
                width: 300px;
                box-sizing: border-box;
                border: 1px solid $facebook_grey;
                border-radius: 8px;
                margin-left: 16px;
                display: flex;
                overflow-x: visible;
                
                img {
                    width: 299px;
                    height: 300px;
                    margin: 0;
                    margin-top: -1px;
                }
                h5 {
                    margin: 0;
                    font-size: 15px;
                    margin-left: 13px;
                }
                p {
                    margin: 5px;
                    font-size: 13px;
                    margin-left: 13px;
                    margin-bottom: 10px;
                }

                &__box2 {
                    border: 1px solid $facebook_grey;
                    border-radius: 8px;
                    margin-left: 16px;
                    overflow-x: visible;
                }
            }
        }
    }
}
